/*
*{
margin:0;
padding:0;
}
*/
body{
background-color: #f4f4f4;
color: #555555;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: normal;


line-height: 1.6em;

}
a{

    text-decoration: none;
    color: #000;
}

a:hover{
    color: red;

}
a:active{
    color:green;
}

.container{
    width:80%;
    margin:auto
}

.box-1{
    background-color: #333;
    color:#fff;

    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-width: 3px red solid;
    border-bottom-color: 10px;
    border-top-style: double;
    border: 5px red solid;





padding: 20px;

margin-top: 20px;
margin:20px 0;
}

.box-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: bold;
    text-decoration:none;
    text-transform: none;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;

}
.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}
.categories{
  
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories  h2{
text-align: center ;}

.categories ul{
    padding: 0%;
    list-style: square;
    list-style: none;
}
.categories li{
    padding: 8px;
    border-bottom: dotted 1px #333;
    list-style-image:url('../images/WhatsApp Image 2026-03-27 at 12.52.54 PM(1)(1).png

}
